:root {
    --ismat-dark: #0C727D;
    --ismat-ligth: #7AC7CD;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.boleia-header {
    font-weight: 700;
    font-size: larger;
}

.boleia-card-shadow {
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-shadow {
    background: #FFFFFF;
    border: 0.5px solid #0C727D;
    box-shadow: -4px -1px 8px rgba(137, 137, 137, 0.25);
    border-radius: 9px;
}

.boleia-passenger {
    font-size: larger;
}


                                                       /* CSS */
.btn-ismat {
   align-items: center;
   appearance: none;
   background-color: var(--ismat-dark);
   border: 0;
   border-radius: 6px;
   box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
   box-sizing: border-box;
   color: #fff;
   cursor: pointer;
   display: inline-flex;
   font-family: "Poppins",serif;
   height: 48px;
   justify-content: center;
   line-height: 1;
   list-style: none;
   overflow: hidden;
   padding-left: 16px;
   padding-right: 16px;
   position: relative;
   text-align: left;
   text-decoration: none;
   transition: box-shadow .15s,transform .15s;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   white-space: nowrap;
   will-change: box-shadow,transform;
   font-size: 18px;
}

.btn-ismat:focus {
    box-shadow: var(--ismat-dark) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--ismat-dark) 0 -3px 0 inset;
}

.btn-ismat:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--ismat-dark) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.btn-ismat:active {
    box-shadow: rgba(0,0,0,0.6) 0 3px 7px inset;
    transform: translateY(2px);
}

.header-ismat{
    background-color: #F2F4F5;
}

.nav-link-ismat {
    display: block;
    padding: var(--bs-nav-link-padding-y);
    font-size: medium;
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--ismat-dark);
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .nav-link-ismat {
        transition: none;
    }
}
.nav-link-ismat:hover, .nav-link-ismat:focus {
    color: var(--ismat-ligth);
}

.card-blocker{
    height: 40px;
}

.ismat{
  background-color: #0C727D!important;
}