html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    background-color: #fafafa;
}
.header {
    position: absolute;
    background-color: #f2f4f5;
    width: 100%;
    height: 10%;
    box-shadow: -4px 1px 18px rgba(0.6166666746139526, 0.6166666746139526, 0.6166666746139526, 0.20);

}
.header-title{
    padding: 10px;
    font-family: 'Poppins',serif;
}

.search{

}